<h1><%= @user.username %>'s profile</h1>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]) %>
<% else %>
  <%= image_tag "photo.jpg", size: "100x100" %>
<% end %>

<p><strong>Bio:</strong> <%= @user.bio %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
