<p style="color: green"><%= notice %></p>

<% if @chronicle.photo.attached? %>
  <%= image_tag @chronicle.photo.variant(resize_to_limit: [800, 600]) %>
<% end %>

<p><strong>Posted by:</strong> <%= @chronicle.user.username %></p>

<%= render @chronicle %>

<div>
  <%= link_to "Edit this chronicle", edit_chronicle_path(@chronicle) %> |
  <%= link_to "Back to chronicles", chronicles_path %>

  <%= button_to "Destroy this chronicle", @chronicle, method: :delete %>
</div>
